/*
	Top 	
*/
#home_button_about, #home_button_contact {
	width: 40px;
}


#home_top {
	overflow: hidden;
	margin-top: 20px;
}

#home_button_about {
	float: right;
	cursor: pointer;
	margin-right: 7px;
}

#home_button_about:hover {
	background-image: url("../images/home/about_hover.png");
	background-size: 40px;
}

#home_button_contact {
	float: right;
	cursor: pointer;
	margin-right: 50px;
}

#home_button_contact:hover {
	background-image: url("../images/home/about_hover.png");
	background-size: 40px;
}



/*
	Center 
*/
#home_center {
	position: relative;
	margin: auto;
	margin-top: 1.5%;
	width: 800px;
	text-align: center;
}
#home_logo {
	margin: auto;
	font-size: 70px;
}



#home_logo_p, #home_logo_i, #home_logo_n, 
#home_logo_c, #home_logo_h {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 103px;
	margin-left: 10px;
	margin-right: 10px; 
}

#home_logo_p {
	position: relative;
	top: 24px;
	width: 82px;
	margin-right: 4px;
}

#home_logo_n {
	margin-left: 10px;
	margin-right: 2px;
}

#home_catchphrase {
	font-family: Quicksand-Bold;
	font-size: 17px;
	margin-top: 10px;
}



#home_button_search {
	position: relative;
	top: 17px;
	width: 100px;
	cursor: pointer;
}

#home_button_search:hover {
	background-image: url("../images/home/search_hover.png");
	background-size: 100px;
}

#home_search {
	margin-top: 30px;
}

#home_input_search {
	width: 45%;
	height: 40px;
	font-size: 20px;
	padding-left: 20px;
	border-radius: 18px;
	border: 2px solid lightgrey;
	outline: 0;
}

#home_input_search:focus {
    box-shadow: 0px 0px 3pt 2pt green;
}

